@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* VARIABLES */
:root {
	--mobile-width: 375px;
	--desktop-width: 1440px;
}

/* FONTS */
:root {
	--body-font: "Space Mono", monospace;
	--font-medium: 400;
	--font-bold: 700;
	--normal-font-size: 24px;
	--inputs-font-size: 24px;
}

/* COLORS */
:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(185, 72%, 23%);
	--medium-grayish-cyan: hsl(184, 14%, 56%);
	--very-light-grayish-cyan: hsl(180, 54%, 97%);
	--white: hsl(0, 0%, 100%);
}

/* BACKGROUND COLOR*/
:root {
	--light-grayish-cyan: hsl(185, 41%, 84%);
}

html {
	background-color: var(--light-grayish-cyan);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: var(--dark-grayish-cyan);
}

main {
	background-color: var(--white);
}

label,
p,
input.tip {
	color: var(--dark-grayish-cyan);
}

input,
input.tip {
	background-color: var(--very-light-grayish-cyan);
}

input:hover,
input.tip:hover {
	background-color: var(--medium-grayish-cyan);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.tip,
.reset {
	height: 2.4em;
	width: 47%;
	color: var(--white);
	background-color: var(--very-dark-cyan);
	border-radius: 0.25rem;
	border-style: none;
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 0.5em;
}

.reset {
	background-color: var(--strong-cyan);
	color: var(--very-dark-cyan);
	width: 100%;
}

.tip.active {
	background-color: var(--strong-cyan);
	color: var(--very-dark-cyan);
}

.tip:hover {
	background-color: var(--strong-cyan);
	color: var(--very-dark-cyan);
}

.reset:hover {
	background-color: var(--light-grayish-cyan);
}

.results {
	background-color: var(--very-dark-cyan);
}

.sum {
	color: var(--strong-cyan);
}
