@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* VARIABLES */
:root {
	--mobile-width: 375px;
	--desktop-width: 1440px;
}

/* FONTS */
:root {
	--body-font: "Space Mono", monospace;
	--font-medium: 400;
	--font-bold: 700;
	--normal-font-size: 24px;
	--inputs-font-size: 24px;
}

/* COLORS */
:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(185, 72%, 23%);
	--medium-grayish-cyan: hsl(184, 14%, 56%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

/* BACKGROUND COLOR*/
:root {
	--light-grayish-cyan: hsl(185, 41%, 84%);
}

html {
	background-color: var(--light-grayish-cyan);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: var(--dark-grayish-cyan);
}

main {
  background-color: var(--white);
}
